* {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  background-color: brown;
  justify-content: flex-end;
  position: sticky;
  top: 0;
}

.about {
  color: white;
  text-decoration: none;
}
.work {
  color: white;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.contact {
  color: white;
  text-decoration: none;
}
.head {
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.head:hover {
  background-color: rgb(38, 63, 83);
}
#bodycontent {
  display: flex;
  flex-direction: column;
  background-color: rgba(19, 18, 18, 0.89);
  height: 89vh;
  justify-content: center;
}
#projectheading {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgb(62, 101, 133);
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 40px;
}
.bodyh1 {
  font-size: 60px;
  color: white;
  align-self: center;
}
.bodyh3 {
  font-size: 40px;
  color: brown;
  align-self: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.projects {
  cursor: pointer;
  padding: 50px;
  display: grid;
  background-color: rgb(62, 101, 133);
  height: 120vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 5px;
  column-gap: 5px;
}
.projecth1 {
  justify-self: center;
  padding: 40px;
  margin: 20px;
  color: white;
}
.item {
  border: solid;
}
.item:hover {
  border: solid brown;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.664);
}
.projectmessage {
  display: flex;
  background-color: rgba(0, 0, 0, 0.555);
  align-self: center;
  justify-content: center;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 7vh;
}
.upperfooter {
  background-color: rgb(37, 62, 82);
  height: 78vh;
}
.btn1 {
  color: white;
  padding: 20px;
  margin: 40px;
  font-size: larger;
  background-color: rgba(0, 0, 0, 0.664);
  border-style: none;
}
.btndiv {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}
.btn1:hover {
  background-color: brown;
}
.lines {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.it {
  color: rgba(245, 245, 245, 0.856);
}
#socialacc {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 40px;
  font-size: 27px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}
.social:hover {
  padding-top: 15px;
  transition-duration: 0.3s;
  border-bottom: 5px solid brown;
  justify-content: center;
}
.lowerfooter {
  border-top: 6px solid brown;
  background-color: rgb(37, 62, 82);
  height: 10vh;
  display: flex;
  align-items: center;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  justify-content: space-between;
  padding: 6px;
}
.fa-phone {
  color: black;
}
.fa-envelope {
  color: black;
}
.fa-twitter {
  color: black;
}
.fa-github {
  color: black;
}
.fa-facebook-f {
  color: black;
}
